
:root{
    --fonts: 'Roboto', sans-serif;
    --colorFuente:#e1e1e1;
}
*{
    margin: 0px;
    padding: 0px;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    background: #232526; 
    background: -webkit-linear-gradient(to right, rgba(65, 67, 69, 0.61), rgba(35, 37, 38, 0.616)), url(../img/background-Two.jpg);  
    background: linear-gradient(to right, rgba(65, 67, 69, 0.61), rgba(35, 37, 38, 0.61)), url(../img/background-Two.jpg);
    
    font-family: var(--fonts);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.content-info{
    width: 100%;
    height: 100vh;
}
.weather-content {
    box-shadow: 0px 6px 9px -2px rgba(0, 0, 0, 0.32);
    max-width: 30rem;
    margin: 0px auto;
    margin-top: 1rem;
    text-align: center;
    padding: 2rem 2rem 1rem;
    border-radius: 1rem;
    background: #1D4350; 
    background: -webkit-linear-gradient(to right, #A43931, #1D4350);  
    background: linear-gradient(to right, #A43931, #1D4350);

}

.weather-content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--colorFuente);
    text-shadow: 1px 1px 1px #333;
}

.weather-content p {
    color: var(--colorFuente);
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px #333;
}

.result {
    margin-bottom: 8%;
}

.result p {
    margin: .5rem 0 .5rem;
}

.result h2 {
    font-size: 3.5rem;
    line-height: 5rem;
    margin: -1rem 0 1rem;
    color: var(--colorFuente);
    text-shadow: 1px 1px 1px #333;
}

.result h5 {
    font-size: 1.5rem;
    color: var(--colorFuente);
    text-shadow: 1px 1px 1px #333;
}

form {
    display: flex;
    flex-direction: column;
}

form input[type="text"],
form select {
    width: 100%;
    margin: 0px 0 1.5rem;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: .5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 2rem;
    padding-top: .8rem;
    padding-bottom: .8rem;

}
#obtener{
   
    width: 50%;
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
    margin: 0 0 1rem;
    display: inline-block;
    border: 1px solid #ccc;
    margin: 0px auto;
    border-radius: .5rem;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 2rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
}


.alert-message {
    margin: 1rem 0 0 0;
    background-color: red;
    padding: .8rem 0;
    border-radius: .5rem;
    

}